// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');



* {
  font-family: "IBM Plex Sans Arabic", serif;
}

body {
  // background-color: #fff;
  // color: #000;
  font-family: "IBM Plex Sans Arabic", serif;
  font-style: normal;
}

html,
body {
  overflow-x: clip;
}

.navbar-container {
  position: relative;

  .mainLinks {
    .router-link-exact-active {
      color: #FFAA01;
    }
  }

  .nav-mobile {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 120%;
    padding: 40px 10px;
    background-color: #fff;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
    transition: 0.4s all;
    transform: translateY(-200%);

    &.active {
      transform: translateY(0);
    }
  }
}

html[dir="rtl"]{
  .vti__dropdown-list{
    left: auto;
    right: -1px;
  }
  input[type="tel"]{
    // direction: rtl;
    text-align: right;
  }
}

.vue-tel-input{
  border: 1px solid #E1E3E5 !important;
  border-radius: 4px !important;
  outline: none !important;
}